span.normal {font-weight: normal; }
span.large {font-size: 200%; }
span.big {font-size: 150%;}
table.normal {
	border-collapse: collapse;
}
td {
  text-align: center;
	border: solid 1px;
	padding: 0.5em;
}
tds {
	text-align: center;
	border: solid 1px;
	padding: 0.5em;
	font-size: 70%;
}


div.main  {
     margin : 30px ;
     padding : 20px ;
     border : 10px solid red ;
     background-color : lightgreen ;
}

div.main_chart  {
     margin : 30px ;
     padding : 20px ;
     border : 5px solid maroon ;
     background-color : lightblue ;
}

div.sub_chart  {
     margin : 30px ;
     padding : 20px ;
     border : 5px solid maroon ;
     background-color : lightsalmon ;
}


div.how_to_get  {
     margin : 30px ;
     padding : 20px ;
     border : 5px solid maroon ;
     background-color : lightgreen ;
}

div.tips  {
     margin : 30px ;
     padding : 20px ;
     border : 5px solid maroon ;
     background-color : khaki ;
}


span.sample3 {font-weight: lighter;}
span.sample4 {font-weight: bolder; font-size: 150%;}
span.sample5 {font-weight: bolder; }
span.sample200 {font-weight: 200; }
span.sample300 {font-weight: 300; }
span.sample400 {font-weight: 400; }
span.sample500 {font-weight: 500; }
span.sample600 {font-weight: 600; }
span.sample700 {font-weight: 700; }
span.sample800 {font-weight: 800; }
span.sample900 {font-weight: 900; }
